html {
    height: 100%;
}

body {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.welcome {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url('/assets/images/welcome.background.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.welcome .title {

}

.welcome .contact {

}