@font-face {
    font-family: CMU;
    src: url("/assets/font/cmunso.ttf") format("truetype");
}  

@font-face {
    font-family: CMU;
    src: url("/assets/font/cmunsi.ttf") format("truetype");
} 

html {
    height: 100%;
}

body {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;  
    font-family: CMU;
}

.welcome {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url('/assets/images/welcome.background.png');
    background-size: contain;
    background-repeat: no-repeat;
    grid-template-columns: auto auto;
}

.welcome .title {
    grid-column: 2 / 3;
    grid-row: 1;
    justify-self: right;
    font-size: 6em;
    padding-right: 2em;
    padding-top: 2em;
    box-sizing: border-box;
    display: block;
    text-transform: capitalize;
}

.welcome .contact {
    display: block;
    width: 50%;
    grid-column: 2 / 3;
    grid-row: 2;
    justify-self: right;
    align-self: top;
    padding-right: 2em;
    padding-bottom: .5em;
    box-sizing: border-box;
}

.welcome .contact .title-name {
    font-size: 3em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.welcome .contact .informations {
    width: 100%;
    height: 100%;
}

.welcome .contact .informations .item {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    align-content: center;
}

.welcome .contact .informations .item p {
    padding: 0;
    margin: auto;
    margin-left: 0;
}

i {
    display: block;
    width: 4em;
    height: 4em;
    background-size: contain;
    background-repeat: no-repeat;
}

i.email {
    background-image: url('/assets/images/email.icon.png');
}

i.phone {
    background-image: url('/assets/images/phone.icon.png');
}

i.location {
    background-image: url('/assets/images/location.icon.png');
}